page, view, text, rich-text, swiper, swiper-item, image, navigator, icon, progress, audio, video, camera, canvas, form, input, textarea, button, checkbox, checkbox-group, label, editor, radio, radio-group, slider, switch, map {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

page {
  font-family: 'Microsoft YaHei UI' sans-serif;
}
