$transition-direction: -50rpx;

page {
  padding: 0;
}

.bg {
  width: 750rpx;
  height: 840rpx;

  position: relative;

  transform: translateY($transition-direction);

  .title {
    font-size: 60rpx;
    font-weight: bold;
    color: #0E0E40;
    letter-spacing: 5rpx;

    position: absolute;
    z-index: 9;
    right: 75rpx;
    bottom: 0;
  }
}

.form {
  width: 500rpx;
  height: auto;
  margin: 25rpx 125rpx 0;
  padding: 0;

  transform: translateY($transition-direction);

  .form-item {
    width: 100%;
    height: auto;

    border-bottom: 1rpx solid #9F9EA4;
  }

  .btn {
    width: 100%;
    height: 2.5em;
    margin: 75rpx 0 0;
    padding: 0;

    background-image: linear-gradient(145.41deg, #4468E9 20.41%, #181673 107.86%);
    border-radius: 20rpx;

    color: white;
    line-height: 2.5em;
    font-size: 36rpx;
    text-align: center;
    letter-spacing: 1rpx;
  }
}
