.welcome {
  width: 750rpx;
  height: 283rpx;

  background-image: linear-gradient(0deg, rgb(22, 84, 197), rgb(50, 49, 122));

  position: relative;

  .user {
    color: #F8D869;
    font-size: 32rpx;
    letter-spacing: 1rpx;

    position: relative;
    top: 50rpx;
    left: 20rpx;
  }

  .content {
    color: #fff;
    font-size: 26rpx;

    position: relative;
    top: 90rpx;
    left: 90rpx;
  }
}
