page {
  background-color: #F5F5F5;
}

.main {
  margin: 100rpx 25rpx;
  padding: 25rpx;

  background: #FFFFFF;
  box-shadow: 0px 10rpx 10rpx rgba(0, 0, 0, 0.25);
  border-radius: 25rpx;

  position: relative;
  transform: translateY(-300rpx);

  &::before {
    content: '问题归属类型：产品类型-产品型号';
    color: #FFFFFF;
    font-family: 'Microsoft YaHei UI';
    font-size: 32rpx;

    position: absolute;
    top: -2em;
    left: 1em;
  }

  > .choose-issue {
    > view {
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    > .q {
      color: #0E0E40;
        font-weight: bold;
        font-size: 40rpx;
    }
  }

  > .content {
    > .unchoose {
      display: flex;
      justify-content: center;
      align-items: center;

      margin: 0;
      padding: 100rpx 0;
    }
  }
}
