page {
  background-color: #F5F5F5;
}

.context {
  transform: translateY(-200rpx);

  .wo-info {
    margin: 20rpx;
    padding: 20rpx;
  
    background-color: #fff;
    border-radius: 20rpx;
    box-shadow: 0 10rpx 10rpx rgba(0, 0, 0, 0.25);
  
    .header {
      font-size: 32rpx;
      line-height: 2em;

      border-bottom: 1rpx solid #818085;
  
      > view {
        display: inline-block;
      }
  
      .title {
        width: 75%;

        text-align: left;
        color: #0E0E40;
        font-size: 32rpx;
        font-weight: bold;
      }
  
      .status {
        width: 25%;

        text-align: right;
        color: #818085;
        font-size: 30rpx;
      }
    }
  
    .desc {
      color: #0E0E40;
      line-height: 1.5em;

      padding: 20rpx 0;
    }
  
    .footer {
      font-size: 30rpx;
      line-height: 2em;
  
      > view {
        display: inline-block;
      }
  
      .phone {
        width: 75%;
        
        color: #0E0E40;
        text-align: left;
        font-size: 28rpx;
      }
  
      .address {
        width: 25%;

        color: #818085;
        text-align: right;
        font-size: 24rpx;
      }
    }
  }
}
